<div class='selected-tea' data-id="{{tea.id}}">
 <h4>Name: {{tea.name}}</h4>
 <h4>Brand: {{tea.brand}}</h4>
 <h4>Type: {{tea.tea_type}}</h4>
 <h4>Packaging: {{tea.packaging}}</h4>

 <form class='update-review'>
   <fieldset>
     <input type='hidden' name='review[id]' value="{{id}}">
     <input type='hidden' name='review[tea_id]' value ="{{tea.id}}">
     <select class='water-temp' name='review[water_temp]' value="{{water_temp}}">
       <option value='Hot'>Hot</option>
       <option value='Iced'>Iced</option>
     </select>
     <input type='text' class='steep-time' name='review[steep_time]' value="{{steep_time}}">
     <select class='rating' name='review[rating]' value="{{rating}}">
       <option value='1'>1</option>
       <option value='2'>2</option>
       <option value='3'>3</option>
       <option value='4'>4</option>
       <option value='5'>5</option>
     </select>
     <input type='text' class='notes' name='review[notes]' value="{{notes}}">
     <input type='submit' name='submit' value='Update Review'>
     <input type='button' class='cancel-update' value='Cancel'>
   </fieldset>
 </form>

</div>
