<div class='close-reviews-button'>
  <button class='close-view-reviews' type='click'>Close reviews</button>
</div>

{{#if reviews}}

{{#each reviews as |review|}}

 <div class='see-review' data-id="{{review.id}}">
  <h4>Name: {{review.tea.name}}</h4>
  <h4>Brand: {{review.tea.brand}}</h4>
  <h4>Type: {{review.tea.tea_type}}</h4>
  <h4>Packaging: {{review.tea.packaging}}</h4>
  <h4>Water Temperature: {{review.water_temp}}</h4>
  <h4>Steep Time (in minutes): {{review.steep_time}}</h4>
  <h4>Rating: {{review.rating}}</h4>
  <h4>Notes:</h4>
  <h4 class='view-review-notes'>
     {{#if review.notes}}
      {{review.notes}}
    {{else}}
      No review.
    {{/if}}
  </h4>
  <button class='view-review' type='click'>View</button>
</div>

{{/each}}

{{else}}
<div class='no-reviews'>Hmm. Looks like you don't have any reviews yet.</div>

{{/if}}
