{{#each reviews as |review|}}

 <div class='see-review' data-id="{{review.id}}">
  <h4>Name: {{review.tea.name}}</h4>
  <h4>Brand: {{review.tea.brand}}</h4>
  <h4>Type: {{review.tea.tea_type}}</h4>
  <h4>Packaging: {{review.tea.packaging}}</h4>
  <h4>Water Temperature: {{review.water_temp}}</h4>
  <h4>Steep Time (in minutes): {{review.steep_time}}</h4>
  <h4>Rating: {{review.rating}}</h4>
  <h4>
     {{#if review.notes}}
      {{review.notes}}
    {{else}}
      No description.
    {{/if}}
  </h4>
  <button class='view-review' type='click'>View this Review</button>
</div>

{{/each}}
