{{#each teas as |tea|}}

 <div class='see-tea' data-id="{{id}}">
  <h4>Name: {{name}}</h4>
  <h4>Brand: {{brand}}</h4>
  <h4>Type: {{tea_type}}</h4>
  <h4>Packaging: {{packaging}}</h4>

  <button class='select-tea' type='click'>Select this tea</button>
</div>

{{/each}}

<button class='cancel-create' type='click'>Cancel</button>
